<body class="barber_version">
    <router-outlet></router-outlet>
       
        <div id="wrapper">
    
            <!-- Sidebar-wrapper -->
            <div id="sidebar-wrapper">
                <div class="side-top">
                    <div class="logo-sidebar">
                        <a routerLink="/MC"><img src="assets/images/logos/LOGO.gif" alt="image"></a>
                    </div>
                    <ul class="sidebar-nav">
                        <li><a class="active"routerLink="/MC">Acceuil</a></li>
                        <li><a routerLink="/login">Ajouter un Engagement</a></li>
                        
                    
                    
                    </ul>
                </div>
            </div>
            <!-- End Sidebar-wrapper -->
    
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <a href="#menu-toggle" class="menuopener" id="menu-toggle"><i class="fa fa-bars"></i></a>
                
                <div id="home" class="parallax first-section" data-stellar-background-ratio="0.4" style="background-image:url('assets/uploads/background.jpg')">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="full-width" class="owl-carousel owl-theme">
                                <div class="text-center item">
                                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                                        <div class="big-tagline text-center">
                                            <h2><strong>Ernst & Young</strong><br>
                                            </h2>
                                            <p class="lead">Dans un monde en évolution rapide, EY a un impact durable en restant concentré sur son objectif pour bâtir un monde meilleur.</p>
                                            <a routerLink="/login" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">Ajouter un Engagement</a>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="text-center item">
                                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                                        <div class="big-tagline text-center">
                                            <h2><strong>Ernst & Young</strong><br>
                                            </h2>
                                            <p class="lead">Nous apportons confiance aux marchés des capitaux en favorisant la transparence, la stabilité financière et la croissance économique inclusive.</p>
                                            <a routerLink="/login" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">Ajouter un Engagement</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end row -->
                    </div><!-- end container -->
                </div><!-- end section -->
    
               
    
                <div class="section wb">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <div class="message-box">
                                    
                                    <h2>Ernst and Young</h2>
                                    <p class="lead">Chez EY, notre objectif est de bâtir un monde meilleur. Les renseignements et les services de qualité que nous fournissons contribuent à renforcer la confiance dans les marchés financiers et les économies du monde entier. </p>
    
                                    <p> Nous formons des leaders exceptionnels qui font l'équipe pour tenir nos promesses à tous nos intervenants. 	En agissant , nous jouons un rôle essentiel dans l’édification d’un monde meilleur pour nos gens, nos clients et nos collectivités.</p>
    
                                   
                                </div><!-- end messagebox -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                        <div class="section-title row text-center">
                            <div class="col-md-8 col-md-offset-2">
                              
                            </div>
                          </div> 
                          <div class="section-title row text-center">
                            <div class="col-md-8 col-md-offset-2">
                              
                            </div>
                          </div> 

                        <section class="features" id="features">
                            <div class="container">
                              <h2 class="text-center">
                                  Features
                                </h2>
                        
                              <div class="row">
                                <div class="feature-col col-lg-4 col-xs-12" style="color: #fff;">
                                  <div class="card card-block text-center">
                                    <div>
                                      <div class="feature-icon ">
                                        <h2 class="text-center">
                                            
                                          </h2>
                                        
                                        <i class="fa fa-laptop"></i>


                                      </div>
                                    </div>
                        
                                    <div>
                                      
                        
                                      <p>
                                        L'outil de de suivi des conclusions, nous permet de créer une synthése afin d’identifier les points forts et faibles de chaque structure.
                                      </p>
                                      <p style="color:#ffff">
                                        Le recensement des axes d’amélioration sur 
                                      </p>
                                    </div>
                                  </div>
                                </div>
                        
                                <div class="feature-col col-lg-4 col-xs-12" style="color: #fff;">
                                  <div class="card card-block text-center">
                                    <div>
                                      <div class="feature-icon text-align">
                                        <h2 class="text-center">
                                            
                                        </h2>
                                      
                                        <i  class="fa fa-check"></i>
                                      </div>
                                    </div>
                        
                                    <div>
                                      
                                      <p>
                                        Le recensement des axes d’amélioration sur les différents Contrôles pour chaque processus IT .
                                      </p>
                                      <p style="color:#ffff">
                                        Le recensement des axes d’amélioration sur les différents Contrôles pour chaque processus IT 
                                      </p>
                                    </div>
                                  </div>
                                </div>
                        
                                <div class="feature-col col-lg-4 col-xs-12" style="color: #fff;">
                                  <div class="card card-block text-center">
                                    <div>
                                      <div class="feature-icon text-align">
                                        <h2 class="text-center">
                                            
                                        </h2>
                                        <i class="fa fa-dashboard"></i>
                                      </div>
                                    </div>
                        
                                    <div>
                                      
                        
                                      <p>
                                        la visualisation de l’analyse effectuée lors de la  mission d’audit sous forme d’un tableau de bord 
                                         
                                      </p>
                                      <p >
                                        ainsi la génération d’un d’un tableau de bord comparatif des années N , N-1 et N-2.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        
                            
                            </div>
                          </section>
                        
                        
                        
                    </div><!-- end container -->
                </div><!-- end section -->
    
                
    
                <div class="all-page-bar" >
                    <div class="container-fluid">
                    
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="section-title row text-center">
                                    <div class="col-md-8 col-md-offset-2">
                                      
                                    </div>
                                  </div> 
                                  <div class="section-title row text-center">
                                    <div class="col-md-8 col-md-offset-2">
                                      
                                    </div>
                                  </div> 
                                                               
                                    <div class="testimonial clearfix col-md-6 col-sm-6">
                                        <div class="desc">
                                            <h3><i class="fa fa-quote-left"></i></h3>
                                            <p class="lead">Faire un impact durable en restant concentré sur notre objectif pour construire un monde meilleur travail.</p>
                                        </div>
                                        <div class="testi-meta">
                                            <img src="" alt="" class="img-responsive alignright">
                                            
                                        </div>
                                        <!-- end testi-meta -->
                                    </div>
                                    <!-- end testimonial -->
                                    <div class="testimonial clearfix col-md-6 col-sm-6">
                                        <div class="desc ">
                                            <h3><i class="fa fa-quote-left"></i> </h3>
                                            <p class="lead">En nous concentrant sur notre objectif de bâtir un monde de travail meilleur, nous produisons un impact durable pour nos clients .</p>
                                        </div>
                                        
                                        <!-- end testi-meta -->
                                    </div>
                                    <!-- end testimonial -->
                                    
                                
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end container -->
                </div><!-- end section -->
    
                <div class="copyrights">
                    <div class="container-fluid">
                        <div class="footer-distributed">
                            <div class="footer-left">
                                <p class="footer-links">
                                    <a routerLink="/MC">Acceuil</a>
                                    <a routerLink="/addclient">Ajouter un Engagement</a>
                                    
                                </p>
                                <p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">EY</a> Design By : <a href="https://html.design/">html design</a></p>
                            </div>
    
                            
                        </div>
                    </div><!-- end container -->
                </div><!-- end copyrights -->
            </div>
        </div><!-- end wrapper -->
    </body>    